certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cryptography==44.0.3
flwr==1.25.0
grpcio==1.76.0
grpcio-health-checking==1.76.0
idna==3.11
iterators==0.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.2
pathspec==0.12.1
protobuf==6.33.5
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.19.2
PyYAML==6.0.3
requests==2.32.5
rich==13.9.4
shellingham==1.5.4
tomli==2.4.0
tomli_w==1.2.0
typer==0.20.1
typing_extensions==4.15.0
urllib3==2.6.3
